{% extends "server_ui/templates/base.html" %}{% load i18n %}

{% block tabs_menu %}
{% include "zeus/_menu_partial.html" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="columns twelve">
      <h4>{% trans "Resources" %}</h4>

    <ul class="disc">
        <li>{% trans "Election admin guides" %}
        <ul>
          {% for guide in guides.admin %}
          <li><a href="{{ MEDIA_URL }}manuals/{{ guide.fname }}{{ guide.lang }}.{{ guide.extensions.0.ext }}">
                  {{ guide.label }}{% if guide.sublabel %} "{{ guide.sublabel }}"{% endif %}
                </a>
                {% if guide.extensions.1 %}
                [<a href="{{ MEDIA_URL }}manuals/{{ guide.fname }}{{ guide.lang }}.{{ guide.extensions.1.ext }}">{{ guide.extensions.1.label }}</a>]
                {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
        <li>{% trans "Voter guides" %}
        <ul>
          {% for guide in guides.voter %}
          <li><a href="{{ MEDIA_URL }}manuals/{{ guide.fname }}{{ guide.lang }}.{{ guide.extensions.0.ext }}">
                  {{ guide.label }}{% if guide.sublabel %} "{{ guide.sublabel }}"{% endif %}
                </a>
                {% if guide.extensions.1 %}
                [<a href="{{ MEDIA_URL }}manuals/{{ guide.fname }}{{ guide.lang }}.{{ guide.extensions.1.ext }}">{{ guide.extensions.1.label }}</a>]
                {% endif %}
            </li>
          {% endfor %}
        </ul>
        {% block extra_guides %}
        {% endblock %}
    </ul>
  </div>
</div>
{% endblock %}
