{% extends "zeus/resources.html" %}{% load i18n %}
{% block extra_guides %}
      <li style="margin-top: 20px"><a href="http://www.et.gr/idocs-nph/search/pdfViewerForm.html?args=5C7QrtC22wEsrjP0JAlxBXdtvSoClrL8ybRP_RC2z2i4ndCieBbLVuJInJ48_97uHrMts-zFzeyCiBSQOpYnTy36MacmUFCx2ppFvBej56Mmc8Qdb8ZfRJqZnsIAdk8Lv_e6czmhEembNmZCMxLMtf_zy0skkWk-jcvfZF-coYW53WmKLiAB9Ou65mtFatvK">Φύλλο Εφημερίδας της Κυβέρνησης (B 3453 - 04.10.2017)</a> για την ηλεκτρονική ψήφο με το σύστημα &laquo;Ζευς&raquo;</li>
      <li>Το σύστημα <a href="http://heliosvoting.org">Helios</a>, στο οποίο βασίζεται το σύστημα &laquo;Ζευς&raquo;</li> 
      <li>Η <a href="http://static.usenix.org/events/sec08/tech/full_papers/adida/adida.pdf">αρχική
      δημοσίεση</a> του συστήματος Helios</li>
      <li>Ο <a href="https://github.com/grnet/zeus">πηγαίος κώδικας
      του συστήματος &laquo;Ζευς&raquo;</a></li>
{% endblock %}
