{% extends "election_page.html" %}{% load i18n %}
{% load zeus_tags %}

{% block title %}
{{ election.name }}: {{ module.questions_title_message }}
{% endblock %}
{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}

{% block extra_menu %}
{% include "_election_poll_admin_actions.html" %}
{% endblock %}

{% block content %}
{% if linked_polls %}
<h4 style="margin-left: 1.5rem">{{ poll.name }}</h4>
{% endif %}
{% include questions_tpl %}
{% if linked_polls %}
{% for poll in linked_polls %}
<h4 style="margin-left: 1.5rem">{{ poll.name }}</h4>
{% include questions_tpl %}
{% endfor %}
{% endif %}
{% endblock %}
