{% extends "election_page.html" %}{% load i18n %}
{% load zeus_tags %}
{% block title %}{{election.name}}: {% trans "Election Polls" %}{% endblock %}
{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}
{% block content %}
{% if election.feature_can_add_poll or poll %}

<form data-protect="1" class="prettyform" action="" method="POST">
    <table class="pretty">
    {% with form=form %}
        {% include "foundation_form.html" %}
    {% endwith %}
    </table>
    <a class="button" href="{% url "election_polls_list"  election.uuid %}">
    {% trans "Cancel" %}</a>
    <input class="button" type="submit" value="{% trans "Save" %}"/>
</form>

<style>
form .form-field.fieldset-auth {
  width: auto !important;
  margin-right: 20px;
}
</style>

<script>

$(function(){


  var authFields = $("[data-auth]");
  var authGroups = {};
  var groupsList = [];

  window.groups = authGroups;

  var active = null;

  var activateGroup = function(key) {
    active && deactivateGroup(active.key);
    var group = authGroups[key];
    active = group;
    group.fields.show(150);
    group.fields.next('br').show(150);
  }
  var deactivateGroup = function(key) {
    var group = authGroups[key];
    group.toggler.find('input').prop('checked', false);
    group.fields.hide(150);
    group.fields.next('br').hide(150);
    active = null;
  }
  authFields.each(function(i, el) {
    el = $(el);
    var key = el.data('auth');
    var group = authGroups[key] || {
      key: key,
      fields: $(),
      toggler: null
    }

    authGroups[key] = group;
    var data = el.data();

    if (data.authToggle) {
      group.toggler = el;
      el.next("br").hide();
      el.change(function(evt) {
        let key = $(this).data('auth');
        if (evt.target.checked) {
          activateGroup(key);
        } else {
          deactivateGroup(key);
        }
      });
    }

    if (data.authOption) {
      group.fields = group.fields.add(el);
      el.next("br").hide();
    }
  });

  Object.keys(authGroups).forEach(function(key) {
    groupsList.push(authGroups[key]);
    let group = authGroups[key];
    group.fields.hide();
    if (group.toggler.find("input").prop('checked')) {
      activateGroup(group.key);
    }
  });

  $("[data-auth-toggle]").last().next("br").show();

  $("#id_jwt_file").change(function(event){
    var output = $("#id_jwt_public_key");
    var input = event.target;
    reader = new FileReader();
    reader.onload = function(){
      text = reader.result;
      var header = "-----BEGIN RSA PUBLIC KEY-----";
      if (text.startsWith(header))
      {
        output.val(text);
      }
      else
      {
        alert('Invalid file');
      }
    };
    reader.readAsText(input.files[0]);
  });

  var forum_desc = $(".form-field textarea#id_forum_description").parent();
  var forum_starts_at = $(".form-field input#id_forum_starts_at_0").parent().parent().parent();
  var forum_ends_at = $(".form-field input#id_forum_ends_at_0").parent().parent().parent();
  var forum_extended_until = $(".form-field input#id_forum_extended_until_0").parent().parent().parent();
  var forum_enabled = $(".form-field input#id_forum_enabled");

  function checkForumFieldsVisible(e) {
    if (forum_enabled.is(':checked')) {
      forum_desc.show();
      forum_starts_at.show();
      forum_ends_at.show();
      forum_extended_until.show();
      if (e) { forum_desc_field.find("textarea").focus(); }
    } else {
      forum_desc.hide();
      forum_starts_at.hide();
      forum_ends_at.hide();
      forum_extended_until.hide();
    }
  }
  forum_enabled.click(checkForumFieldsVisible);
  checkForumFieldsVisible();

  $(".datepicker[readonly!=readonly]").datepicker({ dateFormat: 'yy-mm-dd' });
  $("[readonly]").addClass("field-readonly");
});
</script>
{% endif %}
{% endblock %}
